@media (min-width: 48rem) {
  header {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;

    nav {
      width: 95%;

      .btn-menu {
        display: none;
      }
    }

    .logo {
      width: 15rem;
    }

    .nav-icons {
      position: absolute;
      left: 50%;
      top: 1rem;
      transform: translateX(-50%);
      background-color: $primary-color;
      padding: 0 6rem 1rem 6rem;
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }

    .nav-bar {
      @include flex(row, space-between, center);
      top: 0;
      left: 0;
      height: inherit;
      position: inherit;
      gap: 4rem;

      li {
        z-index: 20;
        &:nth-child(3) {
          margin-left: auto;
        }
      }
    }
  }


  footer {
    .footer-container {
      @include flex(row, space-between, center);
      padding-block: 2rem;
      gap: 2rem;

      p {
        margin-bottom: 0;
      }
    }

    .logo-footer {
      width: 15rem;
      height: auto;
      border-right: 1px solid black;
    }

    .icons {
      order: 2;
      margin-left: auto;
    }

    div ul {
      @include flex(row, flex-start, center);

  .main-title {
    background-color: $secondary-color-300;
    height: 100%;

    .main-container .main-image {
      position: relative;
      width: 75%;
      height: 100%;

      .title {
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 0;
      }

    }
  }
}
