.main-about-us__center {
  max-width: 75rem;
  width: 95%;
  margin-inline: auto;

  h1 {
    font-weight: $fw-bold;
    font-size: var(--fs-primary-heading);
    text-align: center;
    mix-blend-mode: darken;
  }

  .about-us__card {
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

    .about-us__card-title {
      h2 {
        font-weight: $fw-semi-bold;
        font-size: var(--fs-secondary-heading);
      }

      p {
        color: #414141;
        margin-bottom: 2rem;
      }
    }
  }
}
