#cart {
  @include flex(column, center, stretch);
  gap: 1.5rem;
}

.cart__container {
  max-width: 75rem;
  width: 90%;
  margin: 0 auto;
  @include flex(column, center, stretch);

  .fields__container {
    @include flex(column, center, stretch);
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    font-size: var(--fs-body);  

    .fields {
      @include flex(row, space-between, center); 
      width: 100%;

       .fields__select {
        font-size: var(--fs-200);
        width: 10rem;
        padding: 0.5rem 1rem;
        background-color: $slate;
        border: none;
        border-radius: 0.25rem;
      }
    }
  }

  .observations__container {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: 0.5rem;

    .observations {
      width: 100%;
      min-height: 3.625rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-color;
      font-size: 0.75rem;
      color: $dark-grey;
      margin-bottom: 0.5rem;
      resize: none;
    } 
  }

  .cart__clients {
    @include flex(row, center, center);
    gap: 1rem;
    font-size: 0.6875rem;
    background-color: $secondary-color-300;
    padding: 0.5rem ;
    border-radius: 0.25rem;
    max-width: 21.25rem;

    .cart__clients-select {
      max-width: 13.125rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.25rem;
      background-color: $white;
    }
  }

  .cart__header {
    @include flex(row, space-between, center);
    margin-block: 1.5rem;

    a {
      text-decoration: none;
      color: $black;
    }

    i {
      font-size: var(--fs-400)
    }

    .cart__title {
      font-size: var(--fs-body);
      font-weight: $fw-bold;
    }
  }

  .container__fluid {
    @include flex(column, center, center);
    gap: 1rem;
  }

  .total-row {
    @include flex(column, space-between, flex-start);
    font-weight: $fw-semi-bold;
    font-size: var(--fs-body);
    gap: 1rem;
    width: 100%;

    .total-row__price,
    .total-row__items {
      @include flex(row, space-between, center); 
      width: 100%;
      gap: 0.5rem;
    }

    .total-row__br {
      width: 90%;
      margin-inline: auto;
      height: 1px;
      background-color: $secondary-color-400;
      opacity: 0.5;
      border-radius: 0.25rem;
    }
  }
}

@media (min-width: 48rem) {
  #cart {
    gap: 3rem;
  }

  .cart__container {
    .cart__header {
      .cart__title {
        font-size: var(--fs-400);
      }
    }

    .cart__clients {
      font-size: var(--fs-body);
      max-width: 27.5rem;
      margin-bottom: 3rem;

      .cart__clients-select {
        max-width: 18.375rem;
      }
    }

    .fields__container .fields .fields__select {
      width: 15rem;
    }
        
    .container__fluid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .observations__container {
        grid-row: span 2;
        height: 100%;

        .observations {
          height: 100%;
        }
      }
    }


    .buttons {
      width: 100%;
      max-width: 38rem;
      margin-inline: auto;

      .button-cart {
        width: 100%;
        max-width: 100%;
      }
    }
  } 

}
