.store-container {
  margin-top: 1rem;
  margin-inline: auto;
  width: 95%;
  min-height: 10vh;

  h1 {
    text-align: center;
  }

  .select-store {
    @include flex(row, center, center);

    select {
      color: black;
    }
  }

  .store__rubros {
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: auto;
    gap: 1rem;
    min-height: 60px;

    .store__rubros__item {
      flex-shrink: 0;
      padding: 0.25rem 0.5rem;
      border-radius: 2rem;
      transition: 300ms ease-in-out all;

      &.active {
        background-color: $secondary-color-300;
      }
    }
  }

  .store__search__input {
    @include flex(column, center, center);
    width: 100%;

    .search__input {
      @include flex(row, center, center);
      gap: 1rem;
      margin-bottom: 1rem;

      input {
        padding: 0.75rem;
        border-radius: 2rem;
        border: none;
      }
    }

    .store__search__input__select {
      @include flex(column, center, center);
      gap: 1rem;

      select {
        background-color: $secondary-color-300;
        border: none;
        padding: 0.125rem 0.25rem;
        border-radius: 0.25rem;
        max-width: 5.625rem;
      }
    }
  }

  .grid-store {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .grid__image {
      @include flex(row, center, flex-end);
      min-width: 160px;
      min-height: 160px;
      background-color: grey;
    }
  }
}
