.maintaining {
  @include flex(column, center, center);
  gap: 1rem;
  width: 100%;
  padding: 1rem;

  .maintaining__title {
    font-size: var(--fs-secondary-heading);
    font-weight: $fw-bold;
  }

  .maintaining__subtitle {
    font-size: var(--fs-400);
    font-weight: $fw-semi-bold;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
  }

  .maintaining__image {
    width: 100%;
    max-width: 30rem;
  }

  .maintaining__text {
    font-size: var(--fs-body);
  }
}
