.store__products {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(2, 160px);
  row-gap: 3rem;
  margin-top: 1.5rem;

  .store__product__card {
    @include flex(column, space-between, center);
    gap: 0.5rem;
    // height: 350px;

    .store__product__card__image {
      width: 160px;
      height: 160px;
    }

    .store__product__card__info {
      @include flex(column, center, center);
      gap: 0.25rem;
      width: 100%;
      text-align: center;

      input {
        width: 80%;
        padding: 0.125rem 0.25rem;
      }

      button {
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media (min-width: 680px) {
  .store__products {
    grid-template-columns: repeat(3, 200px);
    gap: 2rem;
    margin-top: 5rem;
  }
}

@media (min-width: 1080px) {
  .store__products {
    grid-template-columns: repeat(3, 320px);
    gap: 3rem;

    .store__product__card .store__product__card__image {
      width: 220px;
      height: 200px;
    }
  }
}
