.search-input {
  @include flex(row, center, center);
  gap: 1rem;
  background-color: $slate;
  padding: 0.25rem 2rem;
  border-radius: 1rem;

  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.75rem;
  }
}

@media (min-width: 48rem) {
  .search-input {
    align-self: flex-end;
  }
}
